<div class="beer-background">
  <div class="container-fluid">
    <div class="row">
      <h1 class="col-md-12 text-center header pt-2 pb-2"><i class="fas fa-beer pr-4"></i>Lager Head<i class="fas fa-beer pl-4"></i></h1>
    </div>
    <div class="row">
      <div class="col-8 offset-2">
        <div class="container">
          <div class="row mb-5">
            <div class="col border pl-3 pr-3 pt-3 pb-3 mt-5" id="desc">
              <strong>Welcome to LagerHead! By using our application, you will be able to enhance your experience at
                your favorite local brewery by learning more about the beers they offer and if they allow you to order
                food to their tap room. If they do, you can match your favorite grub eats with your favorite brew! Our
                multiple functionalities include being able to search for a brewery, beer, and beer type easily at the
                touch of your fingertips,take our survey to match you up with the perfect pour of liquid bliss based on
                your answers, or you can place your beer choice in our hands by choosing a random hoppy beverage!</strong>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <br>
          <div class="col-md-12 pl-0 pr-0 justify-content-center">
            <form class="card card-sm mt-4 mb-4">
              <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                  <i class="fas fa-search h5 pt-2 pr-3 text-body"></i>
                </div>
                <div class="col">
                  <input class="form-control form-control-md form-control-borderless"  id="query" type="search" placeholder="Search by Brewery, Beer Name, or Beer Type">
                </div>
                <div class="col-auto">
                  <button class="btn btn-md btn-success ml-3" id="searchBtn"><strong>Search</strong></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pt-3 pr-0 pb-3 pl-0 pr-0">
            <a href="/survey"><button type="button" class="float-right mr-5 btn btn-lg btn-info" id="survey-btn"><strong>Take
                  the Survey</strong></button></a>
          </div>
          <div class="col-md-6 mt-3 mb-3 pl-0 pr-0 border border-top-0 border-bottom-0 border-right-0">
            <button type="button" class="ml-5 btn btn-lg btn-info" id="randomBtn"><strong>BEER ME!</strong></button>
          </div>
          <div class="modal fade" id="exampleModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="mx-auto" id="header"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                  <img class="modal-img">
                  <div class="modal-desc">
                    <div class="container-fluid mb-2">
                      <div class="row">
                        <div class="col-md-6 pl-0 pr-1 border-right">
                          <div id="description"></div>
                          <div id="stats"></div>
                        </div>
                        <div class="col-md-5 pl-2 pr-0 mb-2">
                          <img id="modal-img">
                          <div class="pt-2"><i>Map Coming Soon...</i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-food">
                    <h5>Where to eat nearby: </h5>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-3 border-right mt-2 mb-2" id="food1">

                        </div>
                        <div class="col-md-3 border-right mt-2 mb-2" id="food2">

                        </div>
                        <div class="col-md-3 border-right mt-2 mb-2" id="food3">

                        </div>
                        <div class="col-md-3 border-right mt-2 mb-2" id="food4">

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="./js/logic.js"></script>