<body>
  <div class="container border">
    <div class="row mb-5">
        <div class="col-8 offset-2">
            <h1 class="text-center mt-3 mb-5">Lager Head</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-5 pl-0 pr-0 mb-2 border">
                        You got beer!
                    </div>
                    <div class="col-md-5 offset-2 pl-0 pr-0 mb-2 border">
                        I love map!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <h5>Hungry? Here's some of our favorite places nearby:</h5>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-md-2 mr-3 border">
            food1
        </div>
        <div class="col-md-2 mr-3 border">
            food2
        </div>
        <div class="col-md-2 mr-3 border">
            food3
        </div>
        <div class="col-md-2 mr-3 border">
            food4
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>


</body>