<div class="beer-background">
    <div class="container-fluid">
        <div class="row">
            <h1 class="col-md-12 text-center header pt-2 pr-2 pl-2 pb-2"><i class="fas fa-beer pr-4"></i>Lager Head<i
                    class="fas fa-beer pl-4"></i></h1>
        </div>
        <div class="row">
            <div class="col-md-8 offset-2" id="brewerySurvey">
                <div class="container">
                    <h2 class="text-center pt-4">Your Taste Profile</h2>
                    <div class="row pt-4">
                        <div class="col">
                            <form>
                                <h2 class="pb-4" id="prompt">Please answer all questions to get a complete
                                    recommendation</h2>
                                <h4><strong>1.) Where are you looking to drink?</strong></h4>
                                <select class="chosen-select" id="q1">
                                    <option value="">** Select an option</option>
                                    <option value="1">Minneapolis (South)</option>
                                    <option value="2">Minneapolis (Downtown)</option>
                                    <option value="3">Minneapolis (Northeast)</option>
                                    <option value="4">St. Paul</option>
                                    <option value="5">Western Suburbs</option>
                                </select>
                                <div class="pb-5"></div>
                                <h4><strong>2.) What type of beer do you normally drink?</strong></h4>
                                <select class="chosen-select" id="q2">
                                    <option value="">** Select an option</option>
                                    <option value="1">Sour</option>
                                    <option value="2">Belgian/Lager/Pilsner/Kolsch</option>
                                    <option value="3">Wheat Beer/Hefeweizen</option>
                                    <option value="4">Porter</option>
                                    <option value="5">Stout</option>
                                    <option value="6">Brown Ale</option>
                                    <option value="7">Amber/Red Ale</option>
                                    <option value="8">IPA</option>
                                    <option value="9">Ale (other)</option>
                                    <option value="10">None of the Above</option>
                                </select>
                                <div class="pb-5"></div>

                                <h4><strong>3.) How alcoholic would you like your beer?</strong></h4>
                                <select class="chosen-select" id="q3">
                                    <option value="">** Select an option</option>
                                    <option value="1">Least Alcoholic (Less Than 3.5% Alcohol by Volume)</option>
                                    <option value="2">Somewhat Alcoholic (Between 3.5% and 5% ABV)</option>
                                    <option value="3">Fairly Alcoholic (Between 5% and 6.5% ABV)</option>
                                    <option value="4">Strongly Alcoholic (Between 6.5% and 8% ABV)</option>
                                    <option value="5">Very Strongly Alcoholic (Higher than 8% ABV)</option>
                                </select>
                                <div class="pb-5"></div>


                                <h4><strong>4.) How bitter do you like your beers?</strong></h4>
                                <select class="chosen-select" id="q4">
                                    <option value="">** Select an option</option>
                                    <option value="1">Not at all bitter (5 - 25 International Bittering Units)</option>
                                    <option value="2">Somewhat bitter (25 - 50 IBUs)</option>
                                    <option value="3">Fairly bitter (50 - 75 IBUs)</option>
                                    <option value="4">Very bitter (more than 75 IBUs)</option>
                                </select>
                                <br>
                                <br>

                                <button type="submit" class="btn btn-info mb-5" id="submitBtn">Submit</button>
                            </form>
                            <div class="modal fade" id="exampleModal" data-backdrop="false" tabindex="-1" role="dialog"
                                aria-labelledby="ModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="mx-auto" id="header"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <img class="modal-img">
                                            <div class="modal-desc">
                                                <div class="container-fluid mb-2">
                                                    <div class="row">
                                                        <div class="col-md-6 pl-0 pr-1 border-right">
                                                            <div id="description"></div>
                                                            <div id="stats"></div>
                                                        </div>
                                                        <div class="col-md-5 pl-2 pr-0 mb-2">
                                                            <img id="modal-img">
                                                            <div class="pt-2"><i>Map Coming Soon...</i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-food">
                                                <h5>Where to eat nearby: </h5>
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-3 border-right mt-2 mb-2" id="food1">

                                                        </div>
                                                        <div class="col-md-3 border-right mt-2 mb-2" id="food2">

                                                        </div>
                                                        <div class="col-md-3 border-right mt-2 mb-2" id="food3">

                                                        </div>
                                                        <div class="col-md-3 border-right mt-2 mb-2" id="food4">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal"> Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        <script src ="./js/logic.js"></script>
