<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Beer!</title>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Martel|Permanent+Marker" rel="stylesheet">




</head>

<body id="sbg" background="/public/img/surveyBeer.jpg">
    <div class="container" id="survey_container">
        <div class="row">
            <h1 class="col-md-12 text-center header pt-2 pb-2"><i class="fas fa-beer pr-4"></i>Lager Head<i class="fas fa-beer pl-4"></i></h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 id="brewerySurvey" class="text-center">Brewery Survey</h2>
            </div>
        </div>

        <hr>

        <h3 id="thirsty">
            <strong>What am I thirsty for tonight?</strong>
        </h3>

        <form>

            <h2 id="prompt">Please answer all questions to get a complete recommendation</h2>

            <h4><strong>1.) Where are you looking to drink?</strong></h4>
            <select class="chosen-select" id="q1">
                <option value="">** Select an option</option>
                <option value="1">Minneapolis (South)</option>
                <option value="2">Minneapolis (Downtown)</option>
                <option value="3">Minneapolis (Northeast)</option>
                <option value="4">St. Paul</option>
                <option value="5">Western Suburbs</option>
            </select>
            <br>
            <br>

            <h4><strong>2.) What type of beer do you normally drink?</strong></h4>
            <select class="chosen-select" id="q2">
                <option value="">** Select an option</option>
                <option value="1">Sour</option>
                <option value="2">Belgian/Lager/Pilsner/Kolsch</option>
                <option value="3">Wheat Beer/Hefeweizen</option>
                <option value="4">Porter</option>
                <option value="5">Stout</option>
                <option value="6">Brown Ale</option>
                <option value="7">Amber/Red Ale</option>
                <option value="8">IPA</option>
                <option value="9">Ale (other)</option>
                <option value="10">None of the Above</option>
            </select>
            <br>
            <br>

            <h4><strong>3.) How alcoholic would you like your beer?</strong></h4>
            <select class="chosen-select" id="q3">
                <option value="">** Select an option</option>
                <option value="1">Least Alcoholic (Less Than 3.5% Alcohol by Volume)</option>
                <option value="2">Somewhat Alcoholic (Between 3.5% and 5% ABV)</option>
                <option value="3">Fairly Alcoholic (Between 5% and 6.5% ABV)</option>
                <option value="4">Strongly Alcoholic (Between 6.5% and 8% ABV)</option>
                <option value="5">Very Strongly Alcoholic (Higher than 8% ABV)</option>
            </select>
            <br>
            <br>

            <h4><strong>4.) How bitter do you like your beers?</strong></h4>
            <select class="chosen-select" id="q4">
                <option value="">** Select an option</option>
                <option value="1">Not at all bitter (5 - 25 International Bittering Units)</option>
                <option value="2">Somewhat bitter (25 - 50 IBUs)</option>
                <option value="3">Fairly bitter (50 - 75 IBUs)</option>
                <option value="4">Very bitter (more than 75 IBUs)</option>
            </select>
            <br>
            <br>

            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="submitBtn">Submit</button>
            <br>
            <br>
        </form>
    </div>


    <script type="text/javascript">

        $("#submitBtn").on("click", function (event) {
        event.preventDefault();
        console.log("Answers Saved")

        // var matchStatus = $('.modal-title');
        // var modalBody = $('.modal-body');

        // set responses to local variables
        var genLoc = parseInt($("#q1").val());
        var beerType = parseInt($("#q2").val());
        var abv = parseInt($("#q3").val());
        var ibu = parseInt($("#q4").val());


        var answer = {
            location: genLoc,
            type: beerType,
            abv: abv,
            ibu: ibu
        }

        console.log(answer);

        $.post("/api/beers", answer, function(resp) {
            // console.log(answer)
            console.log(resp);
                }
            );
        }
    );
        
       /* $("#submitBtn").on("click", function (event) {
            console.log("Answers Saved")
            event.preventDefault();

            // set responses to local variables
            var beerLocation = parseInt($('#q1').val());
            var beerType = parseInt($('#q2').val());
            var beerABV = parseInt($('#q3').val());
            var beerBitter = parseInt($('#q4').val());

            var userAnswers = {
                location: beerLocation,
                type: beerType,
                abv: beerABV,
                bitterness: beerBitter
            }

            $.post("/api/beers", userAnswers, function (data) {
                console.log(userAnswers);
                console.log(data)
            })
        });*/

    </script>

</body>

</html>