.beer-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(/img/beer-background.png);
}

.header {
  background: #daa520;
  color: white;
  border-bottom: 2px solid white;
}

.desc, .btn-info, .card-body {
  background: #daa520;
  color: white;
}